---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroScene from '../components/HeroScene.astro';
---
<html lang="en">
<head>
  <BaseHead title="Circle of Life" description="Curated biotech insights for researchers, investors, and industry professionals." />
</head>
<body>
  <Header />
  <HeroScene />
  <Footer />
</body>
</html>
